<!-- <div class="col-lg-3 d-block mx-auto">
  <h2>SignUp</h2>
  <form [formGroup]="formdata" (ngSubmit)="save(formdata.value)">
    UserName :
    <input type="text" formControlName="username" class="form-control">
    Password :
    <input type="password" formControlName="password" class="form-control">

    <button type="submit" class="btn btn-primary mt-2 d-block mx-auto" [disabled]="!formdata.valid">Login</button>
  </form>
</div> -->

<body>
<div class="box">
  <span class="borderLine"></span>
  <form [formGroup]="formdata" (ngSubmit)="save(formdata.value)">
   <h2>Welcome Admin</h2>
   <div class="inputBox">
    <input type="text" formControlName="username" class="form-control" placeholder="UserName">
    <i></i>
   </div>

   <div class="inputBox">
    <input type="password" formControlName="password" placeholder="Password" class="form-control">

    <i></i>
   </div>
<br>
  <div>
    <button type="submit" class="d-block mx-auto" [disabled]="!formdata.valid">Login</button>
  </div>
  </form>
</div>
</body>
